<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div>
           <span>
               오늘의 번호는 <%=@sorted=%> 입니다.
               오늘의 번호는 @sorted 입니다.
           </span>
        </div>
    </body>
</html>